<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <!--/*/ <th:block th:include="okta/head :: head"/> /*/-->
    </head>

    <body class="login">
        <div id="okta-login-container"></div>

        <script th:inline="javascript">
        /*<![CDATA[*/
            var config = {};

            config.baseUrl = /*[[${oktaBaseUrl}]]*/ 'https://https://dev-23607127.okta.com';
            config.clientId = /*[[${oktaClientId}]]*/ '0oa3pvco8ir20p74G5d7';
            config.redirectUri = /*[[${#httpServletRequest.scheme + '://' + #httpServletRequest.serverName + ':'+#httpServletRequest.serverPort+#httpServletRequest.contextPath} + ${redirectUri}]]*/ 'http://localhost:8080/authorize/callback';
            config.logo = 'https://ok1static.oktacdn.com/assets/img/logos/okta-logo.png';
            config.authParams = {
              issuer: /*[[${issuerUri}]]*/ 'https://dev-23607127.okta.com/oauth2/default',
              state: /*[[${state}]]*/ '{some_state}' || false,
              nonce: /*[[${nonce}]]*/ '{some_nonce}',
              scopes: /*[[${scopes}]]*/ '[openid, email, profile]',
              responseType: 'code',
              display: 'page',
              pkce: false
            };

            new OktaSignIn(config).renderEl(
              { el: '#okta-login-container' },
              function (res) {
                if (res.status === 'SUCCESS') {
                  // Successfully signed in.
                  // Hide the sign-in button
                  $('#okta-login-container').hide();
                }
              }
            );
        /*]]>*/
        </script>
    </body>
</html>